/*
Color code cheats
brown: #6F5846
maroony: #A95A52
Rubyred: #E35B5D
orange peel: #F18052
yellow orange: #FFA446

*/

* {
		box-sizing: border-box;
}

.row {width: 100%; min-height: 500px;}
.border { border: 1px solid #000; }
.left {float: left;}
.clear {clear: both;}

body {background-color: #6F5846; padding: 15px;}
div {background-color: #E35B5D; padding: 10px;}
section {background-color: #fff; margin: 25px 10px; padding: 10px; min-height: 300px;}
section span.border {
	background: #0cf;
	float:right;
	display: block;
	min-width: 200px;
	max-height: 75px;
	text-align: right;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  
  .desktop {
    width: 32%;
    float: left;
  
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  
  .tablet {
    width: 50%;
    float: left;
  }
